{% extends 'base.html.twig' %}

{% block title %} details de l'article #{{ article.id }} {% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
    <p>Ecrit par : {{ article.author.firstName }} {{ article.author.lastName }}</p>
    <ul>
        {% for category in article.categories %}
            <li>{{category.name}}</li>
        {% endfor %}
    </ul>
    <a class="btn btn-warning" href={{ path('update_article', {id: article.id}) }}>Modifier l'article</a>
{% endblock %}